body{
    font-family: Arial, Helvetica, sans-serif;
}
body h1{
    color: #04AA6D;
}
.navbar{
    /* border: 2px solid black; */
    margin: 0;
    padding: 0;
    background-color: #b0e7d3;
    
}
.navbar ul{
    /* border: 2px solid black; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: rgb(226, 43, 52); */
    
}
.navbar li{
    display: inline;
    padding: 30px;
    float: left;

}
.navbar a{
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.section1{
    display: inline-block;
    width: 100%;
    white-space:nowrap ;
    overflow: hidden;
    animation: typing 2s steps(18),
    cursor .4s step-end infinite alternate;
}
.flex-container{
    /* border: 2px solid black; */
    display: flex;
    padding: 60px;
    justify-content: center;
}
.flex-container1{
    /* border: 2px solid black; */
    display: flex;
    padding: 60px;
    justify-content: center;
}
.flex-container2{
    /* border: 2px solid black; */
    display: flex;
    padding: 60px;
    justify-content: center;
}
.flex-container > .box1{
    background-image: url('./img/country\ img1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    padding: 30px;
    margin: 20px;
}
.flex-container > .box2{
    background-image: url('./img/country\ img2.cms');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 250px;
    padding: 30px;
    margin: 20px;
}
.flex-container > .box3{
    background-image: url('./img/country\ img3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    padding: 30px;
    margin: 20px;
}
.flex-container > .box4{
    background-image: url('./img/country\ img4.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    padding: 30px;
    margin: 20px;
}
.flex-container1 > .box5{
    background-image: url('./img/country\ img5.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 250px;
    padding: 30px;
    margin: 20px;
}
.flex-container1 > .box6{
    background-image: url('./img/country\ img6.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 250px;
    padding: 30px;
    margin: 20px;
}
.flex-container1 > .box7{
    background-image: url('./img/country\ img7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 250px;
    padding: 30px;
    margin: 20px;
}
.flex-container1 > .box8{
    background-image: url('./img/country\ img8.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 250px;
    padding: 30px;
    margin: 20px;
}
.flex-container2 > .box9{
    background-image: url('./img/country\ img9.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 250px;
    padding: 30px;
    margin: 20px;
}
.flex-container2 > .box10{
    background-image: url('./img/country\ 10.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 250px;
    padding: 30px;
    margin: 20px;
}
.flex-container2 > .box11{
    background-image: url('./img/country\ 11.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 250px;
    padding: 30px;
    margin: 20px;
}
.flex-container2 > .box12{
    background-image: url('./img/country\ 12.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 250px;
    padding: 30px;
    margin: 20px;
}
.box1 >.text1{
    margin-top: 260px;
    padding: 10px;
}.box2 >.text2{
    margin-top: 260px;
    padding: 10px;
}
.box3 >.text3{
    margin-top: 260px;
    padding: 10px;
}
.box4 >.text4{
    margin-top: 260px;
    padding: 10px;
}
.box5 >.text5{
    margin-top: 260px;
    padding: 10px;
}
.box6 >.text6{
    margin-top: 260px;
    padding: 10px;

}
.box7 >.text7{
    margin-top: 260px;
    padding: 10px;
}
.box8 >.text8{
    margin-top: 260px;
    padding: 10px;
}
.box9 >.text9{
    margin-top: 260px;
    padding: 10px;
}
.box10 > .text10{
    /* border: 2px solid black; */
    margin-top: 260px;
    padding: 10px;
}
.box11 >.text11{
    margin-top: 260px;
    padding: 10px;

}
.box12 >.text12{
    margin-top: 260px;
    padding: 10px;
}
/* @keyframes cursor{
    50% {border-color: transparent;}

}
@keyframes typing{
    from {width: o;}
} */
.section3{
    margin-left: 40%;
} 
.footer-container {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    /* position: relative;
    bottom: 400px; */
} */

.footer-container p {
    margin: 0;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}